:root {
  --color-grey-medium: #666666;
  --color-grey-medium-light: #989898;
  --color-grey-medium-dark: #8b8b8b;
  --color-grey-light: #cccccc;
  --color-primary: #184387;
  --color-secondary: #4a80f5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  overscroll-behavior-y: none;
  height: -webkit-fill-available;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.line {
  font-family: "IBM Plex Mono", "monospace";
  width: auto;
  white-space: nowrap;
  text-transform: uppercase;
  overflow-x: visible;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.7;
  display: flex;
  margin-bottom: 40px;
}

.substituted-line {
  margin-bottom: 30px;
}


.puzzle {
  overflow-x: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.puzzle-inner {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  align-items: center;
  width: min-content;
}

.substitutions {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.letter {
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  input {
    width: 30px;
    padding: 10px 0;
    border: 0;
    background-color: #f0f0f0;
    font: inherit;
    text-align: center;
    text-transform: uppercase;
  }
}
